body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  text-align: center;
}

.center-block {
  margin: 0 auto;
}

button {
  width: 100%;
  height: 50px;
  border: 2px solid #eeeeee;
  background-color: #f6f6f6;
}

.col-3, .col-6 {
  padding: 0;
}